<div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Assignee</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="task in taskListCtrl.tasks">
                <td>{{task.id}}</td>
                <td>{{task.title}}</td>
                <td>{{task.description}}</td>
                <td>{{task.assignee}}</td>
                <td><a ui-sref="editTask({taskId: task.id})">Edit</a></td>
            </tr>
        </tbody>
    </table>

    <button ng-click="taskListCtrl.getTasks()">Get tasks</button>
    <button ui-sref="editTask">New task</button>
</div>